@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

.eatable {
  display: flex;
  justify-content: flex-start;
  margin: 15px;
  font-family: "Kumbh Sans", sans-serif;
  stroke: white;
  fill: white 100%;
}

.sides {
  display: flex;
  justify-content: flex-start;
  margin: 15px;
  font-family: "Kumbh Sans", sans-serif;
  stroke: white;
  fill: white 100%;
}

.drinks {
  display: flex;
  justify-content: flex-start;
  margin: 15px;
  font-family: "Kumbh Sans", sans-serif;
  stroke: white;
  fill: white 100%;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}
